{% block subject %}
    This is a remember password request
{% endblock %}

{% block body_html %}
    <h1>
        Hi, <strong>{{ user.email }}</strong>.
    </h1>
    <p>
        You just have requested password remember so, in order to finish the process successfully
        you need to follow this <a href="{{ url }}">link</a>.
    </p>
{% endblock %}

{% block body_text %}
    Hi, {{ user.email }}.
    You just have requested password remember so, in order to finish the process successfully
    you need to follow this link: {{ url }}.
{% endblock %}
